body
{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
header .contenedor
{
    display: flex;
    justify-content: space-between;
}
header ul
{
    display: flex;
}
header li
{
    list-style: none;
    margin-right: 15px;
}
a
{
    text-decoration: none;
}
.contenedor
{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
header
{
    background: linear-gradient(rgba(84,93,220,.9),rgba(96,171,245,.9)),url(../imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
}
#contenedor-titulo-flex
{
    display: flex;
    justify-content: center;
    margin:18vh 0;
    max-width: 1580;
    width: 100%;
}
h1
{
    font-size: 60px;
    color: #fff;
    margin: 0;
}
h2
{
    font-size: 25px;
    color: #fff;    
}
.contenedor-titulo
{
    text-align: center;
}
.contenedor-titulo a, #sobre-mi a
{
    font-size: 14px;
    color: #fff;
    background: #5cb8ff;
    padding: 14px  24px;
    display: inline-block;
    width: 128px;
}
p.logo
{
    color: #fff;
    font-size: 20px;
}
nav ul li a
{
    color: #fff;
    font-size: 20px;
}

/*SECCION SOBRE MI*/
h3
{
    text-align: center;
    font-size: 55px;
    font-weight:bold;
}
.contenedor-sobremi img
{
    width: 400px;
    height: 400px;
}
#sobre-mi .contenedor-sobremi
{
    display: flex;
    justify-content: space-around;
}

#sobre-mi .texto
{
    width: 42%;
}

/*SECCION SERVICIOS*/
.contenedor-servicios
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}
.servicio
{
    width: 24%;
    padding: 34px 30px 38px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;   
}
.servicio h4
{
    font-size: 30px;
    margin: 0;
}
.servicio p
{
    margin-bottom: 20px;
    height: 194px;
}
.contenedor-servicios .violeta
{
    background-image: linear-gradient(to top, #5055df,#6d68f3);
    box-shadow:0 12px 30px 0 rgba(80, 85, 223, .37);    
}
.contenedor-servicios .celeste
{
    background: linear-gradient(to top,#40a8f9,#5cb8ff);
    box-shadow: 0 12px 30 0 rgba(86, 163, 222, .3):
}
.ondas
{
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 200px;
    width: 360px;
}
.icono
{
    float: right;
}